<h1>Welcome#sample</h1>
<p>Find me in app/views/welcome/sample.html.erb</p>

<%= "MEssage from Controller :
#{@controller_message}"%>

<%= link_to("Goto Index", 
{:controller => 'welcome',
:action => 'index'})%>